*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Arista";
    src: url(../fonts/Arista-Pro-Alternate-Fat-trial.ttf);
}
@font-face {
    font-family: "Comfortaa";
    src: url(../fonts/Comfortaa-Bold.ttf);
}
// VARIABLES - INICIO
$color_primario: #f33f49;
$color_secundario: #a62777;
$color_terciario: #323232;
html{
    scroll-behavior: smooth;
}
/* BARRA DE NAVEGACION - INICIO */
.navbar{
    background-image: linear-gradient(to right, rgba(243, 63, 73, 0), rgba(243, 63, 73, 0.5), rgba(166, 39, 119, 0.5));
    box-shadow: 0 0 10px black;
}
.navbar .navbar-brand img{
    height: 75px;
}
.nav-link{
    font-family: "Arista";
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: $color_terciario !important;
}
.nav-link:hover{
    color: $color_primario !important;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    transition-duration: 250ms;
}
.navbar-toggler{
    background-color: $color_secundario;
}
/* BARRA DE NAVEGACION - FIN */
main{
    padding-bottom: 25px;
    background-image: linear-gradient(75deg, rgba(243, 63, 73, 0), $color_primario);
    overflow: hidden;
}
/* BANNER - INICIO */
.jumbotron{
    background-image: url(../media/portada.png);
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    padding-bottom: 0;
    margin-bottom: 0;
    position: relative;
    box-shadow: 0px 5px 15px black;
    background-attachment: fixed;
}
#fondo::before{
    content: "";
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
#fondo h1{
    color: white;
    font-family: "Arista";
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
/* BANNER - FIN */

/* NOVEDADES - INICIO */
.novedades h2{
    font-family: "Arista";
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    text-align: center;
    background-color: rgba(50, 50, 50, 0.9);
    border-radius: 15px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
    /* Carrusel - inicio */
.carousel-control-prev-icon, .carousel-control-next-icon{
    border-radius: 50%;
    background-color: $color_terciario;
}
.carousel-indicators li{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.carousel-item img{
    width: 40%;
    padding: 0.5%;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 15px;
}
    /* Carrusel - fin */
/* NOVEDADES - FIN */

/* NOSOTROS -INICIO */
.nosotros h2{
    font-family: "Arista";
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    text-align: center;
    text-align: center;
    height: 32px;
    margin-top: auto;
    margin-bottom: auto;
}
@mixin flex-center-hidden{
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.nosotros{
    margin-top: 25px;
    display: flex;
    overflow: hidden;
    .nosotros_titulo{
        @include flex-center-hidden;
        background-color: $color_terciario;
        width: 900px;
        margin-left: 25px;
        padding-bottom: 25px;
        align-items: center;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .nosotros_texto{
        @include flex-center-hidden;
        background-color: rgba(0, 0, 0, 0.5);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-right: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        flex-direction: column;
        p{
            color: white;
            font-family: "Comfortaa";
            margin-bottom: 10px;
            margin-left: 10px;
            margin-right: 10px;
        }
        a{
            text-decoration: none;
            font-family: "Comfortaa";
            color: white;
            background-color: rgb(50, 50, 50, 0.7);
            width: 100px;
            border-radius: 15px;
            text-align: center;
            margin-top: 10px;
            margin-left: 10px;
        }
        a:hover{
            transform: scale(1.1);
            background-color: $color_primario;
            transition-duration: 150ms;
        }
    }
}
/* NOSOTROS - FIN */

// INSUMOS - INICIO
.insumos .insumos_titulo h2{
    font-family: "Arista";
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    text-align: center;
    background-color: rgba(50, 50, 50, 0.9);
    border-radius: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
.estampadora{
    margin: auto;
    width: 80%;
    height: 420px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
    .estampadora_info{
        width: 50%;
        height: 320px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 25px;
        font-family: "comfortaa";
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        border-radius: 15px 0px 0px 15px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    }
    .estampadora_foto{
        background-color: rgba(255, 255, 255, 0.7);
        width: 50%;
        height: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(100px);
        border-radius: 0px 15px 15px 0px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
        img{
            height: 300px;
            width: 300px;
            object-fit: cover;
            border-radius: 15px;
        }
    }
}
.impresora{
    margin: auto;
    width: 80%;
    height: 420px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
    .impresora_info{
        width: 50%;
        height: 320px;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 25px;
        font-family: "comfortaa";
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        border-radius: 0px 15px 15px 0px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    }
    .impresora_foto{
        background-color: rgba(255, 255, 255, 0.5);
        width: 50%;
        height: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(100px);
        border-radius: 15px 0px 0px 15px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
        img{
            height: 300px;
            width: 300px;
            object-fit: cover;
            border-radius: 15px;
        }
    }
}
.hojas{
    margin: auto;
    width: 80%;
    height: 420px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
    .hojas_info{
        width: 50%;
        height: 320px;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 25px;
        font-family: "comfortaa";
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        border-radius: 15px 0px 0px 15px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    }
    .hojas_foto{
        background-color: rgba(255, 255, 255, 0.5);
        width: 50%;
        height: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(100px);
        border-radius: 0px 15px 15px 0px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
        img{
            height: 300px;
            width: 300px;
            object-fit: cover;
            border-radius: 15px;
        }
    }
}
.tinta{
    margin: auto;
    width: 80%;
    height: 420px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
    .tinta_info{
        width: 50%;
        height: 320px;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 25px;
        font-family: "comfortaa";
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        border-radius: 0px 15px 15px 0px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    }
    .tinta_foto{
        background-color: rgba(255, 255, 255, 0.5);
        width: 50%;
        height: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(100px);
        border-radius: 15px 0px 0px 15px;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
        img{
            height: 300px;
            width: 300px;
            object-fit: cover;
            border-radius: 15px;
        }
    }
}
// INSUMOS - FIN

/* FOOTER - INICIO */
footer{
    background-color: $color_terciario;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .logo_footer img{
        height: 200px;
        width: auto;
    }
    .ubicaciones_footer{
        color: white;
        h3{
            font-family: "Comfortaa";
        }
        ul{
            list-style: none;
            font-family: "Comfortaa";
        }
    }
    .redes_footer a img{
        width: 50px;
        height: auto;
    }
}
/* FOOTER - FIN */

/* PAGINA PRODUCTOS - INICIO */
main .productos_titulo h1{
    font-family: "Arista";
    text-transform: uppercase;
    text-align: center;
}
main .productos_fotos{
    display: flex;
    flex-direction: column;
    .grupo{
        margin-bottom: 30px;
        background-color: rgba(255, 255, 255, 0.7);
        width: 100%;
        height: 100%;
        padding: 25px 0px 25px 0px;
        box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.5);
        .titulo{
            font-family: "comfortaa";
            text-align: center;
        }
        .fotos{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 15px;
            img{
                height: 250px;
                width: auto;
                border-radius: 10px;
                transition: 0.5s;
            }
            img:hover{
                box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.5);
                transform: scale(1.08);
                transition: 0.5s;
            }
        }
    }
}
/* PAGINA PRODUCTOS - FIN */

/* PAGINA NOSOTROS - INICIO */
// Maps - Inicio
$textos:(
    titulo: 30px,
    texto: 20px
);
@each $texto, $size in $textos {
    .paginanosotros--#{$texto}{
        font-size: $size;
    }   
}
.nosotros_pagina{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    .nosotrospagina_titulo h1{
        font-family: "Arista";
        text-transform: uppercase;
        text-align: center;
    }
    .quienessomos_titulo h2{
        font-family: "Arista";
        text-transform: capitalize;
        width: fit-content;
        margin: 25px;
    }
    .quienessomos_texto{
        margin: 25px;
        margin-top: 0px;
        p{
            font-family: "Comfortaa";
            text-transform: capitalize;
            width: fit-content;
        }
    }
    .nuestrosproductos_titulo h2{
        font-family: "Arista";
        text-transform: capitalize;
        width: fit-content;
        margin: 25px;
    }
    .nuestrosproductos_texto{
        margin: 25px;
        margin-top: 0px;
        p{
            font-family: "Comfortaa";
            text-transform: capitalize;
            width: fit-content;
        }
    }
    .proceso_titulo h2{
        font-family: "Arista";
        text-transform: capitalize;
        width: fit-content;
        margin: 25px;
    }
    .proceso_texto{
        margin: 25px;
        margin-top: 0px;
        p{
            font-family: "Comfortaa";
            text-transform: capitalize;
            width: fit-content;
        }
    }
} 
/* NOSOTROS PAGINA - FIN */

/* CONTACTO PAGINA - INICIO */
.contacto_pagina .contacto_titulo h1{
    font-family: "Arista";
    text-transform: uppercase;
    text-align: center;
}
.contacto_pagina .contacto_contenido{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    h2{
        font-family: "Arista";
        text-transform: capitalize;
        font-size: 30px;
        margin: 25px;
    }
    .redessociales_iconos img{
        height: 75px;
        width: auto;
        margin: 10px;
    }
    .contacto_formulario form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: stretch;
        font-family:"Comfortaa";
        margin-top: 0px;
        input{
            height: 25px;
            padding: 15px;
            border: $color_secundario 2px solid;
            border-radius: 10px;
        }
        select{
            height: 40px;
            border-radius: 10px;
            border: $color_secundario 2px solid;
        }
        textarea{
            padding: 5px;
            border-radius: 10px;
            border: $color_secundario 2px solid;
        }
        .botones{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .boton{
                width: 200px;
                margin: 0px;
            }
            .boton--borrar{
                padding: 0px;
                height: 30px;
            }
            .boton--enviar{
                padding: 0px;
                height: 30px;
            }
        }
    }
}
/* CONTACTO PAGINA - FIN */

// MEDIA QUERIES - INICIO

/* MOVIL S - INICIO */
@media screen and (max-width: 320px) {
    main div h1{
        font-size: 35px;
    }
    /* NOVEDADES - INICIO */
    .novedades h2{
        font-size: 30px;
    }
    .carousel-indicators{
        margin-bottom: 0;
    }
    .carousel-inner .carousel-item img{
        width: 80%;
    }
    /* NOVEDADES - FIN */

    // INSUMOS - INICIO
    .insumos .insumos_titulo h2{
        font-family: "Arista";
        text-transform: uppercase;
        font-size: 30px;
        color: white;
        text-align: center;
        background-color: rgba(50, 50, 50, 0.9);
        border-radius: 15px;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        margin-bottom: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .estampadora{
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        .estampadora_info{
            width: 98%;
            height: 150px;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 25px;
            font-family: "comfortaa";
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            border-radius: 15px 15px 0px 0px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
        }
        .estampadora_foto{
            background-color: rgba(255, 255, 255, 0.7);
            width: 98%;
            height: 320px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 15px 15px;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
            img{
                height: 300px;
                width: 300px;
                object-fit: cover;
                border-radius: 15px;
            }
        }
    }
    .impresora{
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        .impresora_info{
            width: 98%;
            height: 150px;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 25px;
            font-family: "comfortaa";
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            border-radius: 15px 15px 0px 0px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
        }
        .impresora_foto{
            background-color: rgba(255, 255, 255, 0.7);
            width: 98%;
            height: 320px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 15px 15px;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
            img{
                height: 300px;
                width: 300px;
                object-fit: cover;
                border-radius: 15px;
            }
        }
    }
    .hojas{
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        .hojas_info{
            width: 98%;
            height: 150px;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 25px;
            font-family: "comfortaa";
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            border-radius: 15px 15px 0px 0px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
        }
        .hojas_foto{
            background-color: rgba(255, 255, 255, 0.7);
            width: 98%;
            height: 320px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 15px 15px;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
            img{
                height: 300px;
                width: 300px;
                object-fit: cover;
                border-radius: 15px;
            }
        }
    }
    .tinta{
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        .tinta_info{
            width: 98%;
            height: 150px;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 25px;
            font-family: "comfortaa";
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            border-radius: 15px 15px 0px 0px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
        }
        .tinta_foto{
            background-color: rgba(255, 255, 255, 0.7);
            width: 98%;
            height: 320px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 15px 15px;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
            img{
                height: 300px;
                width: 300px;
                object-fit: cover;
                border-radius: 15px;
            }
        }
    } 
    // INSUMOS - FIN

    /* PAGINA NOSOTROS - INICIO */
    main .nosotros{
        width: 90%;
        flex-direction: column;
        margin: 10px 10px;
        margin: auto;
    }
    main .nosotros .nosotros_titulo{
        width: 100%;
        height: fit-content;
        margin: 0%;
        margin-top: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    main .nosotros .nosotros_titulo h2{
        font-size: 30px;
        height: fit-content;
        margin: 20px 20px;
    }
    main .nosotros .nosotros_texto p{
        font-size: 16px;
        margin: 10px;
        text-align: justify;
    }
    main .nosotros .nosotros_texto{
        width: 100%;
        height: fit-content;
        margin: 0%;
        margin-bottom: 10px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    main .nosotros .nosotros_texto a{
        margin: auto;
        margin-bottom: 10px;
    }
    .nosotros_pagina .quienessomos_titulo h2{
        font-size: 25px;
    }
    .nosotros_pagina .quienessomos_texto p{
        font-size: 16px;
    }
    .nosotros_pagina .nuestrosproductos_titulo h2{
        font-size: 25px;
    }
    .nosotros_pagina .nuestrosproductos_texto p{
        font-size: 16px; 
    }
    .nosotros_pagina .proceso_titulo h2{
        font-size: 25px;
    }
    .nosotros_pagina .proceso_texto p{
        font-size: 16px;
    }
    /* PAGINA NOSOTROS - FIN */

    /* CONTACTO PAGINA- INICIO */
    .contacto_pagina .contacto_contenido h2{
        font-size: 25px;
    }
    .contacto_pagina .contacto_contenido .redessociales_iconos img{
        height: 50px;
        width: auto;
        margin: 5px;
    }
    .contacto_pagina .contacto_contenido .contacto_formulario{
        width: 300px;
    }
    .contacto_pagina .contacto_contenido .contacto_formulario form{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    /* CONTACTO PAGINA - FIN */

    /* FOOTER - INICIO */
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    footer .logo_footer{
        grid-row: 1/3;
        display: flex;
        justify-content: center;
    }
    footer .logo_footer img{
        height: 150px;
        width: auto;
    }
    footer .ubicaciones_footer{
        margin-top: 10px;
    }
    footer .ubicaciones_footer h3{
        font-size: 16px;
    }
    footer .ubicaciones_footer ul li{
        font-size: 14px;
    } 
    footer .redes_footer{
    margin-bottom: 15px;
    }
    footer .redes_footer a img{
        height: 40px;
        width: auto;
    }
}
// MOVIL S - FIN

// MOVIL M - INICIO
@media screen and (min-width: 320px) and (max-width: 375px) {
    main div h1{
        font-size: 35px;
    }
    /* NOVEDADES - INICIO */
    .novedades h2{
        font-size: 30px;
    }
    .carousel-indicators{
        margin-bottom: 0;
    }
    .carousel-inner .carousel-item img{
        width: 80%;
    }
    /* NOVEDADES - FIN */

    // INSUMOS - INICIO
    .insumos .insumos_titulo h2{
        font-family: "Arista";
        text-transform: uppercase;
        font-size: 30px;
        color: white;
        text-align: center;
        background-color: rgba(50, 50, 50, 0.9);
        border-radius: 15px;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        margin-bottom: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .estampadora{
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        .estampadora_info{
            width: 95%;
            height: 150px;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 25px;
            font-family: "comfortaa";
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            border-radius: 15px 15px 0px 0px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
        }
        .estampadora_foto{
            background-color: rgba(255, 255, 255, 0.7);
            width: 95%;
            height: 320px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 15px 15px;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
            img{
                height: 300px;
                width: 300px;
                object-fit: cover;
                border-radius: 15px;
            }
        }
    }
    .impresora{
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        .impresora_info{
            width: 95%;
            height: 150px;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 25px;
            font-family: "comfortaa";
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            border-radius: 15px 15px 0px 0px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
        }
        .impresora_foto{
            background-color: rgba(255, 255, 255, 0.7);
            width: 95%;
            height: 320px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 15px 15px;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
            img{
                height: 300px;
                width: 300px;
                object-fit: cover;
                border-radius: 15px;
            }
        }
    }
    .hojas{
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        .hojas_info{
            width: 95%;
            height: 150px;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 25px;
            font-family: "comfortaa";
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            border-radius: 15px 15px 0px 0px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
        }
        .hojas_foto{
            background-color: rgba(255, 255, 255, 0.7);
            width: 95%;
            height: 320px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 15px 15px;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
            img{
                height: 300px;
                width: 300px;
                object-fit: cover;
                border-radius: 15px;
            }
        }
    }
    .tinta{
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        .tinta_info{
            width: 95%;
            height: 150px;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 25px;
            font-family: "comfortaa";
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            border-radius: 15px 15px 0px 0px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
        }
        .tinta_foto{
            background-color: rgba(255, 255, 255, 0.7);
            width: 95%;
            height: 320px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 15px 15px;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
            img{
                height: 300px;
                width: 300px;
                object-fit: cover;
                border-radius: 15px;
            }
        }
    }
    // INSUMOS - FIN

    /* PAGINA NOSOTROS - INICIO */
    main .nosotros{
        width: 90%;
        flex-direction: column;
        margin: 10px 10px;
        margin: auto;
    }
    main .nosotros .nosotros_titulo{
        width: 100%;
        height: fit-content;
        margin: 0%;
        margin-top: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    main .nosotros .nosotros_titulo h2{
        font-size: 30px;
        height: fit-content;
        margin: 20px 20px;
    }
    main .nosotros .nosotros_texto p{
        font-size: 16px;
        margin: 10px;
        text-align: justify;
    }
    main .nosotros .nosotros_texto{
        width: 100%;
        height: fit-content;
        margin: 0%;
        margin-bottom: 10px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    main .nosotros .nosotros_texto a{
        margin: auto;
        margin-bottom: 10px;
    }
    .nosotros_pagina .quienessomos_titulo h2{
        font-size: 25px;
    }
    .nosotros_pagina .quienessomos_texto p{
        font-size: 16px;
    }
    .nosotros_pagina .nuestrosproductos_titulo h2{
        font-size: 25px;
    }
    .nosotros_pagina .nuestrosproductos_texto p{
        font-size: 16px; 
    }
    .nosotros_pagina .proceso_titulo h2{
        font-size: 25px;
    }
    .nosotros_pagina .proceso_texto p{
        font-size: 16px;
    }
    /* PAGINA NOSOTROS - FIN */

    /* CONTACTO PAGINA- INICIO */
    .contacto_pagina .contacto_contenido h2{
        font-size: 25px;
    }
    .contacto_pagina .contacto_contenido .redessociales_iconos img{
        height: 50px;
        width: auto;
        margin: 5px;
    }
    .contacto_pagina .contacto_contenido .contacto_formulario{
        width: 300px;
    }
    .contacto_pagina .contacto_contenido .contacto_formulario form{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    /* CONTACTO PAGINA - FIN */

    /* FOOTER - INICIO */
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    footer .logo_footer{
        grid-row: 1/3;
        display: flex;
        justify-content: center;
    }
    footer .logo_footer img{
        height: 150px;
        width: auto;
    }
    footer .ubicaciones_footer{
        margin-top: 10px;
    }
    footer .ubicaciones_footer h3{
        font-size: 16px;
    }
    footer .ubicaciones_footer ul li{
        font-size: 14px;
    } 
    footer .redes_footer{
    margin-bottom: 15px;
    }
    footer .redes_footer a img{
        height: 40px;
        width: auto;
    }
}
// MOVIL M - FIN

// MOVIL L - INICIO
@media screen and (min-width: 375px) and (max-width: 425px) {
    main div h1{
        font-size: 35px;
    }
    /* NOVEDADES - INICIO */
    .novedades h2{
        font-size: 30px;
    }
    .carousel-indicators{
        margin-bottom: 0;
    }
    .carousel-inner .carousel-item img{
        width: 80%;
    }
    /* NOVEDADES - FIN */

    // INSUMOS - INICIO
    .insumos .insumos_titulo h2{
        font-family: "Arista";
        text-transform: uppercase;
        font-size: 30px;
        color: white;
        text-align: center;
        background-color: rgba(50, 50, 50, 0.9);
        border-radius: 15px;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        margin-bottom: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .estampadora{
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        .estampadora_info{
            width: 85%;
            height: 150px;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 25px;
            font-family: "comfortaa";
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            border-radius: 15px 15px 0px 0px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
        }
        .estampadora_foto{
            background-color: rgba(255, 255, 255, 0.7);
            width: 85%;
            height: 320px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 15px 15px;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
            img{
                height: 300px;
                width: 300px;
                object-fit: cover;
                border-radius: 15px;
            }
        }
    }
    .impresora{
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        .impresora_info{
            width: 85%;
            height: 150px;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 25px;
            font-family: "comfortaa";
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            border-radius: 15px 15px 0px 0px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
        }
        .impresora_foto{
            background-color: rgba(255, 255, 255, 0.7);
            width: 85%;
            height: 320px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 15px 15px;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
            img{
                height: 300px;
                width: 300px;
                object-fit: cover;
                border-radius: 15px;
            }
        }   
    }
    .hojas{
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        .hojas_info{
            width: 85%;
            height: 150px;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 25px;
            font-family: "comfortaa";
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            border-radius: 15px 15px 0px 0px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
        }
        .hojas_foto{
            background-color: rgba(255, 255, 255, 0.7);
            width: 85%;
            height: 320px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 15px 15px;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
            img{
                height: 300px;
                width: 300px;
                object-fit: cover;
                border-radius: 15px;
            }
        }
    }
    .tinta{
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        .tinta_info{
            width: 85%;
            height: 150px;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 25px;
            font-family: "comfortaa";
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            border-radius: 15px 15px 0px 0px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
        }
        .tinta_foto{
            background-color: rgba(255, 255, 255, 0.7);
            width: 85%;
            height: 320px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 15px 15px;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
            img{
                height: 300px;
                width: 300px;
                object-fit: cover;
                border-radius: 15px;
            }
        }
    }
    // INSUMOS - FIN

    /* PAGINA NOSOTROS - INICIO */
    main .nosotros{
        width: 90%;
        flex-direction: column;
        margin: 10px 10px;
        margin: auto;
    }
    main .nosotros .nosotros_titulo{
        width: 100%;
        height: fit-content;
        margin: 0%;
        margin-top: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    main .nosotros .nosotros_titulo h2{
        font-size: 30px;
        height: fit-content;
        margin: 20px 20px;
    }
    main .nosotros .nosotros_texto p{
        font-size: 16px;
        margin: 10px;
        text-align: justify;
    }
    main .nosotros .nosotros_texto{
        width: 100%;
        height: fit-content;
        margin: 0%;
        margin-bottom: 10px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    main .nosotros .nosotros_texto a{
        margin: auto;
        margin-bottom: 10px;
    }
    .nosotros_pagina .quienessomos_titulo h2{
        font-size: 25px;
    }
    .nosotros_pagina .quienessomos_texto p{
        font-size: 16px;
    }
    .nosotros_pagina .nuestrosproductos_titulo h2{
        font-size: 25px;
    }
    .nosotros_pagina .nuestrosproductos_texto p{
        font-size: 16px; 
    }
    .nosotros_pagina .proceso_titulo h2{
        font-size: 25px;
    }
    .nosotros_pagina .proceso_texto p{
        font-size: 16px;
    }
    /* PAGINA NOSOTROS - FIN */

    /* CONTACTO PAGINA- INICIO */
    .contacto_pagina .contacto_contenido h2{
        font-size: 25px;
    }
    .contacto_pagina .contacto_contenido .redessociales_iconos img{
        height: 50px;
        width: auto;
        margin: 5px;
    }
    .contacto_pagina .contacto_contenido .contacto_formulario{
        width: 300px;
    }
    .contacto_pagina .contacto_contenido .contacto_formulario form{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    /* CONTACTO PAGINA - FIN */

    /* FOOTER - INICIO */
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    footer .logo_footer{
        grid-row: 1/3;
        display: flex;
        justify-content: center;
    }
    footer .logo_footer img{
        height: 150px;
        width: auto;
    }
    footer .ubicaciones_footer{
        margin-top: 10px;
    }
    footer .ubicaciones_footer h3{
        font-size: 16px;
    }
    footer .ubicaciones_footer ul li{
        font-size: 14px;
    } 
    footer .redes_footer{
    margin-bottom: 15px;
    }
    footer .redes_footer a img{
        height: 40px;
        width: auto;
    }
}
// MOVIL L - FIN

// TABLET - INICIO
@media screen and (min-width: 425px) and (max-width: 768px){
    main div h1{
        font-size: 35px;
    }
    /* NOVEDADES - INICIO */
    .novedades h2{
        font-size: 30px;
    }
    .carousel-indicators{
        margin-bottom: 0;
    }
    .carousel-inner .carousel-item img{
        width: 80%;
    }
    /* NOVEDADES - FIN */

    // INSUMOS - INICIO
    .insumos .insumos_titulo h2{
        font-family: "Arista";
        text-transform: uppercase;
        font-size: 30px;
        color: white;
        text-align: center;
        background-color: rgba(50, 50, 50, 0.9);
        border-radius: 15px;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        margin-bottom: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .estampadora{
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        .estampadora_info{
            width: 75%;
            height: 150px;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 25px;
            font-family: "comfortaa";
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            border-radius: 15px 15px 0px 0px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
        }
        .estampadora_foto{
            background-color: rgba(255, 255, 255, 0.7);
            width: 75%;
            height: 320px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 15px 15px;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
            img{
                height: 300px;
                width: 300px;
                object-fit: cover;
                border-radius: 15px;
            }
        }
    }
    .impresora{
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        .impresora_info{
            width: 75%;
            height: 150px;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 25px;
            font-family: "comfortaa";
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            border-radius: 15px 15px 0px 0px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
        }
        .impresora_foto{
            background-color: rgba(255, 255, 255, 0.7);
            width: 75%;
            height: 320px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 15px 15px;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
            img{
                height: 300px;
                width: 300px;
                object-fit: cover;
                border-radius: 15px;
            }
        }
    }
    .hojas{
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        .hojas_info{
            width: 75%;
            height: 150px;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 25px;
            font-family: "comfortaa";
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            border-radius: 15px 15px 0px 0px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
        }
        .hojas_foto{
            background-color: rgba(255, 255, 255, 0.7);
            width: 75%;
            height: 320px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 15px 15px;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
            img{
                height: 300px;
                width: 300px;
                object-fit: cover;
                border-radius: 15px;
            }
        }
    }
    .tinta{
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        .tinta_info{
            width: 75%;
            height: 150px;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 25px;
            font-family: "comfortaa";
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            border-radius: 15px 15px 0px 0px;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
        }
        .tinta_foto{
            background-color: rgba(255, 255, 255, 0.7);
            width: 75%;
            height: 320px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0px 0px 15px 15px;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
            img{
                height: 300px;
                width: 300px;
                object-fit: cover;
                border-radius: 15px;
            }
        }
    }
    // INSUMOS - FIN

    /* PAGINA NOSOTROS - INICIO */
    main .nosotros{
        width: 90%;
        flex-direction: column;
        margin: 10px 10px;
        margin: auto;
    }
    main .nosotros .nosotros_titulo{
        width: 100%;
        height: fit-content;
        margin: 0%;
        margin-top: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    main .nosotros .nosotros_titulo h2{
        font-size: 30px;
        height: fit-content;
        margin: 20px 20px;
    }
    main .nosotros .nosotros_texto p{
        font-size: 16px;
        margin: 10px;
        text-align: justify;
    }
    main .nosotros .nosotros_texto{
        width: 100%;
        height: fit-content;
        margin: 0%;
        margin-bottom: 10px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    main .nosotros .nosotros_texto a{
        margin: auto;
        margin-bottom: 10px;
    }
    .nosotros_pagina .quienessomos_titulo h2{
        font-size: 25px;
    }
    .nosotros_pagina .quienessomos_texto p{
        font-size: 16px;
    }
    .nosotros_pagina .nuestrosproductos_titulo h2{
        font-size: 25px;
    }
    .nosotros_pagina .nuestrosproductos_texto p{
        font-size: 16px; 
    }
    .nosotros_pagina .proceso_titulo h2{
        font-size: 25px;
    }
    .nosotros_pagina .proceso_texto p{
        font-size: 16px;
    }
    /* PAGINA NOSOTROS - FIN */

    /* CONTACTO PAGINA- INICIO */
    .contacto_pagina .contacto_contenido h2{
        font-size: 25px;
    }
    .contacto_pagina .contacto_contenido .redessociales_iconos img{
        height: 50px;
        width: auto;
        margin: 5px;
    }
    .contacto_pagina .contacto_contenido .contacto_formulario{
        width: 300px;
    }
    .contacto_pagina .contacto_contenido .contacto_formulario form{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    /* CONTACTO PAGINA - FIN */

    /* FOOTER - INICIO */
    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    footer .logo_footer{
        grid-row: 1/3;
        display: flex;
        justify-content: center;
    }
    footer .logo_footer img{
        height: 150px;
        width: auto;
    }
    footer .ubicaciones_footer{
        margin-top: 10px;
    }
    footer .ubicaciones_footer h3{
        font-size: 16px;
    }
    footer .ubicaciones_footer ul li{
        font-size: 14px;
    } 
    footer .redes_footer{
    margin-bottom: 15px;
    }
    footer .redes_footer a img{
        height: 40px;
        width: auto;
    }
}
// TABLET - FIN

// LAPTOP INICIO
@media screen and (min-width: 768px) and (max-width: 1024px) {
    main div h1{
        font-size: 35px;
    }
    /* NOVEDADES - INICIO */
    .novedades h2{
        font-size: 30px;
    }
    .carousel-indicators{
        margin-bottom: 0;
    }
    .carousel-inner .carousel-item img{
        width: 80%;
    }
    /* NOVEDADES - FIN */

    /* PAGINA NOSOTROS - INICIO */
    .nosotros_pagina .quienessomos_titulo h2{
        font-size: 25px;
    }
    .nosotros_pagina .quienessomos_texto p{
        font-size: 16px;
    }
    .nosotros_pagina .nuestrosproductos_titulo h2{
        font-size: 25px;
    }
    .nosotros_pagina .nuestrosproductos_texto p{
        font-size: 16px; 
    }
    .nosotros_pagina .proceso_titulo h2{
        font-size: 25px;
    }
    .nosotros_pagina .proceso_texto p{
        font-size: 16px;
    }
    /* PAGINA NOSOTROS - FIN */

    /* CONTACTO PAGINA- INICIO */
    .contacto_pagina .contacto_contenido{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }
    .contacto_pagina .contacto_titulo h1{
        font-family: "Arista";
        text-transform: uppercase;
        text-align: center;
    }
    .contacto_pagina .contacto_contenido h2{
        font-family: "Arista";
        text-transform: capitalize;
        font-size: 30px;
        margin: 25px;
    }
    .contacto_pagina .contacto_contenido .redessociales_iconos img{
        height: 75px;
        width: auto;
    }
    .contacto_pagina .contacto_contenido .contacto_formulario form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: stretch;
        font-family:"Comfortaa";
        margin-top: 0px;
    }
    .contacto_pagina .contacto_contenido .contacto_formulario form input{
        height: 25px;
        padding: 15px;
        border: #a62777 2px solid;
        border-radius: 10px;
    }
    .contacto_pagina .contacto_contenido .contacto_formulario form select{
        height: 40px;
        border-radius: 10px;
        border: #a62777 2px solid;
    }
    .contacto_pagina .contacto_contenido .contacto_formulario form .botones{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    textarea{
        padding: 5px;
        border-radius: 10px;
        border: #a62777 2px solid;
    }
    .boton{
        width: 200px;
        margin: 0px;
    }
    .contacto_pagina .contacto_contenido .contacto_formulario form .botones .boton--borrar{
        padding: 0px;
        height: 30px;
    }
    .contacto_pagina .contacto_contenido .contacto_formulario form .botones .boton--enviar{
        padding: 0px;
        height: 30px;
    }
    /* CONTACTO PAGINA - FIN */

    /* FOOTER - INICIO */
    footer{
        background-color: #323232;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .logo_footer img{
        height: 200px;
        width: auto;
    }
    footer .ubicaciones_footer{
        color: white;
    }
    footer .ubicaciones_footer h3{
        font-family: "Comfortaa";
    }
    footer .ubicaciones_footer ul{
        list-style: none;
        font-family: "Comfortaa";
    }
    footer .redes_footer a img{
        width: 50px;
        height: auto;
    }
}
// MEDIA QUERIES - FIN